body{
    background-color: #DADADA;
    font-family: Trebuchet MS, sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
	box-sizing: border-box;
    flex-direction: row;
}
main, aside{
    width: 70%;
    background-color: white;
    border-radius: 5px;
    box-shadow: 4px 4px 8px #BFBFBF;
    margin-left: 2%;
    margin-top: 2%;
}
main{
flex:4;
height: 30%;
}
aside{
flex:1;
margin-right: 2%;
}
.adder{
    display: flex;   
    padding: 2% 2%;
    border-bottom: 1px solid #BFBFBF;
    height: 8%;
    align-items: center;
    padding-bottom:2.6%;
}
.product-name::placeholder{
    text-indent: 10px;
}
.add-button, .product-name{
    width: 75%;
    border: 1px solid lightgrey;
	border-radius: 5px 0 0 5px;
    height: 39px;
}   
.add-button{
    flex: 1;
    background-color: #2285D0;
    color: white;
    font-weight: bold;
    padding: 10px;
    border: 0;
    border: 1px solid #2285D0;
    border-radius: 0 5px 5px 0;
    box-shadow: 0 4px #2276B7;
    font-size: 16px;
    width: 20%;
}
.product-name{
    flex: 5;
    margin-top: 5px;
}
section{
    display: flex;
	border-bottom: 1.5px solid lightgrey;
    align-items: center;
}

.name, .quantity, .status{
    width: 33%;
    height: 65%;
    align-items: center;
    display: flex;
    justify-content: right;
 }
 .name{
    margin-left: 3%;
    justify-content: left;
 }
 .quantity{
    justify-content: center;
}
.status{
    margin-left: 1%;
    float: right;
}

.first-product, .second-product, .third-product{
    align-items: center;
}

.minus, .plus, .cancel, .number, .isBought{
    background-color: #DB2828;
    border-radius: 50%;
    color: white;
    border:0;
	box-shadow: 0 4px #BF2728;
    font-size: 18px;
    height: 34px;
	width:38px;
    font-weight: bold;
    margin-left: 3%;
    margin-bottom: 4px;
}

.plus{
    background-color: #22BA46;
	box-shadow: 0 4px #21A340;
}
.number{
    border-radius: 5px;
    background-color: #E8E8E8;
    color:#5D5D5D;
    box-shadow: 0 0px;
    font-size: 16px;
    margin-bottom: 0;
}
.isBought{
    background-color: #F2F2F2;
    box-shadow: 0 4px #C2C2C3;
    color:#6B6B6B;
    font-size: 11px;
    border-radius: 5px;
    width:40%;
    border: 1px solid #C2C2C3;
}
.cancel{
    border-radius: 5px;
    font-size: 14px;   
    margin-right:7%; 
}
section.first-product > div.status > button.cancel{
    visibility: hidden;
    position: absolute;
}
section.first-product > div.status > button.isBought{
    margin-right: 7%;
}
.first-product > .name > p{
    text-decoration: line-through;
}

footer{
    position: fixed;
    display: block;
    left:0;
    bottom:0;
}

.popup-badge{
    background-color: #AF00DA;
    margin-left: 50px;
    width: 100px;
    height: 40px;
    border:0;
    border-radius: 7px 7px 0 0;
    padding: 0;
	transition: all 1s ease;
}
.badge-text{
    color: white;
    line-height: 40px;
    font-weight: bold;
    font-size: 16px;
    margin: auto;
}
.popup-badge:hover{
    background-color: #4C01DA;
    height: 90px;
}
.creator{
    font-size: 7px;
    margin-left:20px;
    line-height: 10px;
    text-align: left;;
}
.myname{
    font-size:10px;
    line-height: 17px;
    text-align: left;
    margin-left: 20px;
}

@media (max-width: 500px){
    body{
        display: flex;
        flex-direction: column;
        margin-right: 5%;
    }
    main, aside{
        width: 100%;
    }
} 
@media (max-width: 588px){
    .isBought{
        font-size: 7px;
    }
}