body{
    background-color: #DADADA;
    font-family: Trebuchet MS, sans-serif;
    display: flex;
    flex-wrap: wrap;
	box-sizing: border-box;
    flex-direction: row;
}
main, aside{
    width: 70%;
    background-color: white;
    border-radius: 5px;
    box-shadow: 4px 4px 8px #BFBFBF;
    margin-left: 2%;
    margin-top: 2%;
}
main{
flex:4;
}
aside{
flex:1;
margin-right: 2%;
}
.adder{
    display: flex;   
    padding: 4% 4%;
    border-bottom: 2px solid #BFBFBF;
    height: 8%;
    align-items: center;
    padding-bottom:4.6%;
}
.add-button, .product-name{
    width: 75%;
    border: 1px solid lightgrey;
	border-radius: 5px 0 0 5px;
    height: 39px;
}   
.add-button{
    flex: 1;
    background-color: #2285D0;
    color: white;
    font-weight: bold;
    padding: 10px;
    border: 0;
    border: 1px solid #2285D0;
    border-radius: 0 5px 5px 0;
    box-shadow: 0 4px #2276B7;
    font-size: 16px;
    width: 20%;
}
.product-name{
    flex: 3;
    margin-top: 5px;
}

footer{
    position: fixed;
    display: block;
    left:0;
    bottom:0;
}
.popup-badge{
    background-color: #AF00DA;
    margin-left: 50px;
    width: 100px;
    height: 40px;
    border:0;
    border-radius: 7px;
    padding: 0;
	transition: all 1s ease;
}
.badge-text{
    color: white;
    line-height: 40px;
    font-weight: bold;
    font-size: 16px;
    margin: auto;
}
.popup-badge:hover{
    background-color: #4C01DA;
    height: 90px;
}
.creator{
    font-size: 7px;
    margin-left:20px;
    line-height: 10px;
    text-align: left;;
}
.myname{
    font-size:10px;
    line-height: 17px;
    text-align: left;
    margin-left: 20px;
}

@media (max-width: 500px){
    body{
        display: flex;
        flex-direction: column;
        margin-right: 5%;
    }
    main, aside{
        width: 100%;
    }
}